nav{
    ul{
        background-color: rgb(53, 52, 53);
        height: 80px;
        border-radius: 80px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        li{
        list-style: none;
        text-decoration: none;
        a{
            font-size: 25px;
            color: wheat;
            text-decoration: none;
            font-style: italic;
        }
    }
    }
}

.header__flex--container{
    @include flex(row, center, center, wrap);
    margin: 45px 450px 0px 450px;
    gap: 100px;
}