/* Animacion de texto */

.text-pop-up-top {
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@-webkit-keyframes text-pop-up-top {
0% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-shadow: none;
}
100% {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
}
}
@keyframes text-pop-up-top {
0% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-shadow: none;
}
100% {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
}
}

/* Typewriter animation */

.wrapper {
margin-top: 40vh;
margin-bottom: 550px; 
/* This part is important for centering */
display: grid;
place-items: center;
}
  
  .typing-demo {
    width: 20ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  /* Anchor hover */
  
 .hover-underline-animation {
   display: inline-block;
   position: relative;
 }
 
 .hover-underline-animation:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: rgb(204, 105, 59);
   transform-origin: center left right;
   transition: transform 0.25s ease-out;
 }
 
 .hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: center left right;
 }