body{
    background-color:antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #222222;
    color: #fff;
}

#toggle-mode {
    position: fixed;
    top: 130px;
    left: 20px;
    background-color: transparent;
    border: 0;
    transition: transform 0.3s;
}

.dark-mode {
    background-color: linear-gradient(to bottom, #f5f5f5, #ffffff);
    color: white;
    transition: background-color 0.5s, color 0.5s; 
}

#toggle-mode.dark-mode {
    transform: rotate(180deg);
}

.dark-img{
    width: 75px;
}
  
  

