body{
    background-image: linear-gradient(to right bottom, #9d9d9d, #a6a7a8, #afb2b3, #b9bdbb, #c6c7c2);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode{
    background-color: #222222;
    color: #fff;
}

#toggle-mode{
    position: fixed;
    top: 130px;
    left: 20px;
    background-color: transparent;
    border: 0;
    transition: transform 0.3s;
}

#toggle-mode.dark-mode{
    transform: rotate(180deg);
}

.dark-img{
    width: 75px;
}

.dark-mode{
    background-image: linear-gradient(to left bottom, #2c2a2a, #292728, #262425, #222223, #1f1f20, #1d1d1e, #1c1c1d, #1a1a1b, #1a191a, #191919, #191819, #181818);
    color: white;
    h1, h2, h3, h4, h5, h6{ // Colores de los HEADINGS
        color: #ffffff;
        text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    } 
    strong{
        color: orange;
    }
    .github__main--icon, .dark-img{
        filter: invert(1);
    }
}
  
  

