main{
    margin-top: 1024px;
    h1{
        text-align: center;
        font-size: 75px;
        font-weight: 500;
    }h2{
        text-align: center;
        font-size: 50px;
        font-weight: 425;
    }
}

.portraitPicture{
    margin-top: 50px;
    width: 450px;
    height: 700px;
}


.index__main--container{
    @include flex (row, center, center, wrap);
}

.icon__flex--container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.github__main--icon{
    margin-top: 30px;
    width: 55px;
    transition: .4s;
}

.github__main--icon:hover{
    transform: scale(1.1);
    transition: .4s;
}





/* Animacion de texto */

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            margin-top: 125px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
}
 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  